body {
    /* padding-top: 2rem; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid {
    max-width: 95%;
}

h1, .h1 {
    font-size: 2.5rem;
    /* color: ##17a2b8; */
}

#page-title, #page-title:visited, #page-title:hover, #page-title:active, #page-title:focus {
    color: inherit; /* Makes the color the same as the parent element */
    text-decoration: none; /* Removes underline */
    background-color: transparent; /* Ensures no background color */
    outline: none; /* Removes focus outline */
    display: block;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;


}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#pyeditor, #output {
    display: block;
    white-space: pre-wrap;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    margin-top: 1rem;
}

#output {
    min-height: 100px; /* Ensure the output area is visibly defined */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12.col-md-6.col-lg-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom adjustments for better alignment and spacing */
.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
}

/* Enhance the visual separation between columns */
.col-12.col-md-6.col-lg-6:first-child {
    border-right: 2px solid #eee;
    padding-right: 20px;
}

.col-12.col-md-6.col-lg-6:last-child {
    padding-left: 20px;
}

.card {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    margin-top: 1rem;
}

#run-button {
    margin-top: 1rem;
}


button[type="submit"] {
    border-bottom: 1px solid #ced4da;
    margin-bottom: 1rem;
}

header {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ced4da;
}

.header-content {
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Align items vertically */
    max-width: 95%; /* Adjust max width as necessary */
    margin: 0 auto; /* Center the header content block */
}

header h1 {
    flex-grow: 1; /* Allows the title to take up maximum available space */
    text-align: center; /* Ensure the title is centered within its flex-grow space */
    margin: 0;
}

/* If there's additional specific alignment needed for the button or title, add here */



/* Existing styles.css content */

/* Additions for FAQ Page */
#app {
    padding: 1rem; /* Adds padding around the app content for better spacing */
}

section {
    margin-bottom: 2rem; /* Adds more space between each FAQ section */
}

h2 {
    text-align: center;
}

section h3 {
    margin: 1rem 0 3rem; /* Ensures spacing above each section heading */
    text-align: center;
}

/* Ensures consistent spacing and styling for paragraphs and lists within sections */
section p, section ul {
    font-size: 1rem; /* Matches font size of form controls for consistency */
    line-height: 1.5; /* Ensures line height is consistent with other text elements */
    text-align: justify;
}

/* List item adjustments for clarity and emphasis */
section ul li {
    margin-bottom: 0.5rem; /* Adds space between list items for readability */
}

1
